.contact-page {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 67vh;
}

@media screen and (max-width: 600px) {
  .contact-page {
    padding: 30px;
    padding-bottom: 45px;
  }
}