.about__about {
  color: var(--color-primary-dark-red);
  padding: 60px;
  width: 50vw;
}

.about__title {
  position: relative;
  margin-bottom: 50px;
  margin-top: 0;
}

.about__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 4px;
  background-color: var(--color-primary-dark-red);
}

/* .about__team, .about__team-reverse {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
} */

.about__team, .about__team-reverse {
  display: grid;
  padding: 10px;
}

.about__smoke-1 {
  grid-area: 1 / 1;
  background: url(../../public/Fumée/about-6.png) right / 105% no-repeat;
  padding: 40px 86px 40px 160px;
  background-position: 20% center;
  transform: translateX(40px);
  z-index: 0;
}

.about__smoke-2 {
  grid-area: 1 / 1;
  background: url(../../public/Fumée/about-5.png) center / 105% no-repeat;
  padding: 40px 130px 40px 56px;
  transform: translateX(-50px);
  z-index: 0;
}

.about__team__photo-axelle {
  grid-area: 1 / 1; 
  justify-self: start;
  align-self: center;
  width: 200px;
  height: auto;
  aspect-ratio: auto;
  object-fit: contain;
  z-index: 1;
  transform: translateX(-20px);
}

.about__team__photo-chloe {
  grid-area: 1 / 1; 
  justify-self: end; /* place à droite */
  align-self: center;
  width: 200px;
  aspect-ratio: auto;
  object-fit: contain;
  transform: translateX(50px); /* chevauche à droite */
  z-index: 1;
}

.about__padding {
  padding: 10px;
}

.about__text {
  font-family: "BNBergen-Light";
}

.text-align-justify {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.big-font {
  font-family: "BNBergen-Bold";
  font-size: 1.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 1400px) {
  .about__smoke-1, .about__smoke-2 {
    background: none;
    padding: 0;
  }

  .about__team, .about__team-reverse {
    display: flex;
  }

  .text-align-center {
    text-align: justify;
  }
  
  .about__team__photo-axelle, .about__team__photo-chloe {
    transform: none;
    width: 150px;
  }
  
}

@media screen and (max-width: 1260px) {
  .about__smoke-1, .about__smoke-2 {
    background: none;
    grid-area: 1 / 1;
    padding: 0;
    background-position: 20% center;
    transform: none;
  }

  .about__team__photo-axelle, .about__team__photo-chloe {
    grid-area: 1 / 1; 
    justify-self: start;
    align-self: center;
    width: 200px;
    aspect-ratio: 1 / 1;
    transform: none;
  }

  .responsive-padding {
    padding: 10px;
  }

  .big-font {
    margin-top: 0;
  }

  .about__team, .about__team-reverse {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .text-align-left, .text-align-center {
    text-align: center;
  }


  .about__team {
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }

  .about__team-reverse {
    flex-direction: column-reverse;
    padding: 0;
    gap: 20px;
  }
  .about__about {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px;
  }

  .about__title {
    font-size: 2.3em;
  }

  .text-align-center, .text-align-justify, .concept__text {
    padding: 0 50px;
  }

  .about__team__photo {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .text-align-center {
    text-align: justify;
  }

  .text-align-center, .text-align-justify, .concept__text {
    padding: 0;
  }
}