@font-face {
  font-family: 'BNBergen';
  src: url('../public/Fonts/bnbergen-webfont.woff2') format('woff2'),
       url('../public/Fonts/bnbergen-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BNBergen-Light';
  src: url('../public/Fonts/bnbergen-light-webfont.woff2') format('woff2'),
       url('../public/Fonts/bnbergen-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BNBergen-Bold';
  src: url('../public/Fonts/bnbergen-bold-webfont.woff2') format('woff2'),
       url('../public/Fonts/bnbergen-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  font-family: 'BNBergen';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
