:root {
    /* === Couleurs principales === */
  --color-primary-dark-red: #963115;
  --color-primary-light-yellow: #fdea95;

  /* === Couleurs secondaires === */
  --color-secondary-dark-burgundy: #3b0b0b;
  --color-secondary-brown: #9b5924;
  --color-secondary-orange: #f39237;

  /* === Gammes : déclinaisons du rouge (base : #963115) === */
  --color-primary-dark-red-100: rgba(150, 49, 21, 1);
  --color-primary-dark-red-80: rgba(150, 49, 21, 0.8);
  --color-primary-dark-red-60: rgba(150, 49, 21, 0.6);
  --color-primary-dark-red-40: rgba(150, 49, 21, 0.4);
  --color-primary-dark-red-20: rgba(150, 49, 21, 0.2);

  /* === Gammes : déclinaisons du jaune (base : #fdea95) === */
  --color-primary-light-yellow-100: rgba(253, 234, 149, 1);
  --color-primary-light-yellow-80: rgba(253, 234, 149, 0.8);
  --color-primary-light-yellow-60: rgba(253, 234, 149, 0.6);
  --color-primary-light-yellow-40: rgba(253, 234, 149, 0.4);
  --color-primary-light-yellow-20: rgba(253, 234, 149, 0.2);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
