.footer {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  background-color: var(--color-primary-light-yellow);
  padding: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer__links-container {
  text-align: left;
  color: var(--color-primary-dark-red);
  padding: 0 50px;
}

.footer__links-container__title {
  font-family: 'BNBergen-Bold';
  color: var(--color-primary-dark-red);
  text-transform: uppercase;
  white-space: nowrap;
}

.footer__links-container__icons {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.footer__links-container__button {
  cursor: pointer;
  font-family: 'BNBergen-Bold';
  background-color: transparent;
  border: 2px solid var(--color-primary-dark-red);
  color: var(--color-primary-dark-red);
  margin-top: 20px;
  font-size: large;
  padding: 5px 15px;
  white-space: nowrap;
}

.footer__links-container__button:hover {
  background-color: var(--color-primary-dark-red);
  color: var(--color-primary-light-yellow);
  transition: 0.2s ease;
}

.footer__links-container__ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  font-family: 'BNBergen-Light';
  margin: 5px 0;
}

.footer__links-container__ul__link {
  list-style-type: none;
  color: var(--color-primary-dark-red);
  text-decoration: none;
}

.footer__links-container__ul__link:hover {
  color: var(--color-primary-dark-red);
}

.footer__logo__container {
  height: 100%;
  color: var(--color-primary-dark-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'BNBergen-Light';
}

.footer__logo__container__img {
  width: 18vw;
  min-width: 200px;
  height: auto;
}

@media screen and (max-width: 1130px) {

  .footer__logo__container {
    white-space: nowrap;
    font-size: 0.9em;
    justify-content: center;
  }
  
}

@media screen and (max-width: 1000px) {

  .footer {
    flex-direction: column;
  }

  .footer__links-container {
    padding: 0 18px;
  }
  
  .footer__logo__container {
    align-items: center;
    white-space: nowrap;
  }

}


@media screen and (max-width: 650px) {

  .footer {
    align-items: center;
  }

  .footer-container {
    flex-direction: column-reverse;
  }
  
  .footer__links-container__icons {
    justify-content: center;
  }

  .footer__links-container__ul {
    text-align: center;
    white-space: nowrap;
  }

  .footer__links-container {
    text-align: center;
    color: var(--color-primary-dark-red);
    padding: 0 20px;
    margin: 10px 0;
  }
}