.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  background-color: var(--color-primary-dark-red);
  padding: 2rem;
  position: relative;
}

.header__burger-menu {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 35px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary-light-yellow);
  border: none;
}

.header__logo__img__desktop {
  height: 120px;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
}

.header__logo__img__mobile {
  height: 11vh;
  display: none;
}

.header__links-container {
  min-width: 80%;
}

.header__links-container__ul {
  font-family: 'BNBergen-Bold';
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  list-style-type: none;
  font-size: clamp(0.6rem, 1.1vw, 2rem);
}

.header__links-container__ul__link {
  position: relative;
  text-decoration: none;
  color: var(--color-primary-light-yellow);
  text-transform: uppercase;
  display: inline-block;
  transition: 0.1s ease-in-out;
  white-space: nowrap;
}

.header__links-container__ul__link:hover {
  color: var(--color-secondary-dark-burgundy);
  transition: 0.3s ease-out
}

.header__links-container__ul__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 2px;
  background-color: var(--color-secondary-dark-burgundy);
  transition: width 0.3s ease;
}

.header__links-container__ul__link:hover::after {
  width: 100%;
}

@media screen and (max-width: 1050px){
  .header {
    height: 70px;
  }

  .header__links-container__ul {
    gap:45px;
  }

  .header__logo__img__desktop {
    height: 10vh;
  }
}

@media screen and (max-width: 950px) {

  .header__burger-menu {
    display: block;
  }
  
  .header__links-container__ul {
    display:none
  }

  .header__logo__img__desktop {
    display:none;
  }

  .header__logo__img__mobile {
    display: block;
  }
}